{%extends 'base.html' %}
{%block body%}
<div class='signinheader'>
<h2 id='signinheader'>Edit Item From Here</h2>	
</div>

<div class='signinform'>
	<form enctype="multipart/form-data" method='POST' action= "{{url_for('edit',id=item.product_id)}}" >
		    {{ form.csrf_token}}
			{{ wtf.form_field(form.product_name, id='formfield') }}
			{{ wtf.form_field(form.product_description, id='comment') }}
			{{ wtf.form_field(form.front_image, id='comment') }}
			{{ wtf.form_field(form.real_price, id='formfield') }}
			{{ wtf.form_field(form.first_price, id='formfield') }}
			<input type= submit class='loginbutton' value='EDIT'/>
	</form>
</div>
{%endblock%}